body { background-color: grey}

.div-login {
	margin:80px auto;
	width: 250px;
	background-color: white;
	padding: 20px;
	outline-color: blue;
	outline-style: groove;
	}

.titulo {
	text-align:center;
	font-size:40px;
	text-decoration:underline;
	}

.subtitulo{
	padding:10px;
	text-align:center;
	font-size:20px;
	}

#Aviso {
	display:none;
	margin: 0 auto;
	width: 300px;
	background-color: red;
	padding: 20px;
	border-radius: 25px;
	text-align:center;
	}
